# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Ambientes virtuais
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.env
